/* DEFAULT VARIABLES */
/* GREY */
/* BLUE */
/* RED */
/* GREEN */
/* PURPLE */
/* YELLOW */
/* ORANGE */
/* BROWN */
/* FONT SIZES*/
* {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto; }
  @media screen and (max-width: 1650px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 1450px) {
    html {
      font-size: 15px; }
      html #header .title .title-first {
        font-size: 3.5rem; }
      html #header .title .title-second {
        font-size: 2.5rem; }
      html #funding .funding-box .nav .nav-item {
        width: 33%; }
      html .myModal .myModal-title {
        display: none; } }
  @media screen and (max-width: 1080px) {
    html {
      font-size: 12px; }
      html #funding .funding-box .nav .nav-item {
        width: 50%; }
      html #projects .projects-grid .project-card .project-description p {
        display: none; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 10px; }
      html #header .title .title-first {
        font-size: 3rem; }
      html #header .title .title-second {
        font-size: 2rem; }
      html #about .about-box .about-media iframe {
        display: none; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 8px; }
      html #funding .funding-box .nav .nav-item {
        width: 100%; } }
  @media screen and (max-width: 667px) {
    html {
      font-size: 7px; } }

body {
  background-color: #fdfdfd; }

section {
  padding: 4rem 0; }

section:first-child {
  width: 100%;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 600; }

/* NAVBAR STYLE */
#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: #78ca7d;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem; }
  #navbar .nav-brand {
    flex: 1;
    align-self: center;
    margin-bottom: 0rem;
    text-align: center;
    font-size: 1.5rem; }
    #navbar .nav-brand .brand-link {
      color: #fdfdfd;
      text-decoration: none;
      transition: font-weight, 0.1s; }
      #navbar .nav-brand .brand-link:hover {
        color: #202020;
        text-decoration: none; }
      #navbar .nav-brand .brand-link span {
        font-weight: 600;
        transition: font-weight, 0.1s; }
      #navbar .nav-brand .brand-link:hover {
        font-weight: 600; }
        #navbar .nav-brand .brand-link:hover span {
          font-weight: 350; }
  #navbar .navbar {
    padding: 0rem; }
    #navbar .navbar .nav-item {
      width: 10rem;
      text-align: center; }
      #navbar .navbar .nav-item .nav-link {
        color: #fdfdfd;
        text-decoration: none;
        padding: 1rem 0;
        text-transform: capitalize;
        transition: background-image, 0.2s; }
        #navbar .navbar .nav-item .nav-link:hover {
          color: #78ca7d;
          text-decoration: none; }
        #navbar .navbar .nav-item .nav-link:hover {
          background-color: #f0f0f0; }

/* HEADER STYLE */
#header {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #525252; }
  #header .header-text {
    width: 50%;
    padding: 2rem;
    margin: auto; }
    #header .header-text p {
      font-size: 1.5rem;
      margin: 0.5rem 0; }
      #header .header-text p:first-of-type {
        font-size: 2rem; }
  #header .header-list {
    width: 50%;
    padding: 2rem;
    margin: auto; }
    #header .header-list .header-links {
      display: flex;
      justify-content: center;
      list-style: none; }
      #header .header-list .header-links .header-link {
        padding: 0 1rem; }
        #header .header-list .header-links .header-link i {
          font-size: 2rem;
          transition: scale, 0.2s; }
        #header .header-list .header-links .header-link:hover i {
          transform: scale(1.1); }
      #header .header-list .header-links #link1 {
        color: #525252;
        text-decoration: none; }
        #header .header-list .header-links #link1:hover {
          color: #3268a5;
          text-decoration: none; }
      #header .header-list .header-links #link2 {
        color: #525252;
        text-decoration: none; }
        #header .header-list .header-links #link2:hover {
          color: #7929b9;
          text-decoration: none; }
      #header .header-list .header-links #link3 {
        color: #525252;
        text-decoration: none; }
        #header .header-list .header-links #link3:hover {
          color: #56a5d9;
          text-decoration: none; }

/* ABOUT STYLE */
#about {
  background-color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
  color: #828282; }
  #about .about-blog {
    width: 50%;
    padding: 2rem;
    margin: auto; }
    #about .about-blog .about-header {
      display: inline-block;
      border-bottom: 0.05rem solid transparent;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: #202020;
      transition: color, 0.5s;
      transition: border-bottom-color, 0.75s; }
    #about .about-blog .about-text {
      text-align: justify;
      text-indent: 1rem;
      font-size: 1.25rem; }
      #about .about-blog .about-text .about-link {
        color: #828282;
        text-decoration: none;
        font-style: italic;
        transition: color, 0.2s; }
        #about .about-blog .about-text .about-link:hover {
          color: #cd7f23;
          text-decoration: none; }
  #about:hover .about-header {
    color: #3268a5;
    border-bottom-color: #56a5d9; }

/* EDUCATION STYLE */
#education {
  background-color: #f0f0f0;
  font-family: 'Raleway', sans-serif;
  color: #828282; }
  #education .education-blog {
    width: 65%;
    padding: 2rem;
    margin: auto;
    text-align: center; }
    #education .education-blog .education-header {
      display: inline-block;
      border-bottom: 0.05rem solid transparent;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: #202020;
      transition: color, 0.5s;
      transition: border-bottom-color, 0.75s; }
    #education .education-blog .education-grid .education-list {
      padding: 0;
      list-style: none; }
      #education .education-blog .education-grid .education-list .education-item {
        margin-bottom: 1.5rem;
        padding: 0.5rem; }
        #education .education-blog .education-grid .education-list .education-item .education-school {
          margin-bottom: 0rem;
          font-size: 1.25rem; }
          #education .education-blog .education-grid .education-list .education-item .education-school .education-school-name {
            color: #525252; }
          #education .education-blog .education-grid .education-list .education-item .education-school .education-school-title {
            margin-bottom: 0rem;
            font-style: italic; }
        #education .education-blog .education-grid .education-list .education-item .education-description {
          list-style: none;
          padding: 0;
          font-size: 1rem; }
  #education:hover .education-header {
    color: #3268a5;
    border-bottom-color: #56a5d9; }

/* EXPERIENCE STYLE */
#experience {
  background-color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
  color: #828282; }
  #experience .experience-blog {
    width: 65%;
    padding: 2rem;
    margin: auto; }
    #experience .experience-blog .experience-header {
      display: inline-block;
      border-bottom: 0.05rem solid transparent;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: #202020;
      transition: color, 0.5s;
      transition: border-bottom-color, 0.75s; }
    #experience .experience-blog .experience-grid {
      width: 65%; }
      #experience .experience-blog .experience-grid .experience-list {
        padding: 0;
        list-style: none; }
        #experience .experience-blog .experience-grid .experience-list .experience-item {
          margin-bottom: 1.5rem;
          padding: 0.5rem; }
          #experience .experience-blog .experience-grid .experience-list .experience-item .experience-company {
            font-size: 1.25rem; }
            #experience .experience-blog .experience-grid .experience-list .experience-item .experience-company .experience-company-name {
              color: #525252; }
            #experience .experience-blog .experience-grid .experience-list .experience-item .experience-company .experience-company-date {
              margin-bottom: 0rem;
              font-size: 1rem; }
            #experience .experience-blog .experience-grid .experience-list .experience-item .experience-company .experience-company-title {
              font-style: italic; }
          #experience .experience-blog .experience-grid .experience-list .experience-item .experience-description {
            text-indent: 0.5rem; }
          #experience .experience-blog .experience-grid .experience-list .experience-item .experience-responsibilities-list {
            margin-bottom: 1rem; }
            #experience .experience-blog .experience-grid .experience-list .experience-item .experience-responsibilities-list .experience-responsibility {
              text-indent: 0.5rem;
              margin: 0.5rem 0; }
          #experience .experience-blog .experience-grid .experience-list .experience-item .experience-link {
            color: #163579;
            text-decoration: none;
            transition: color 0.2s; }
            #experience .experience-blog .experience-grid .experience-list .experience-item .experience-link:hover {
              color: #56a5d9;
              text-decoration: none; }
          #experience .experience-blog .experience-grid .experience-list .experience-item .experience-external {
            text-indent: 0.5rem;
            font-size: 1rem; }
            #experience .experience-blog .experience-grid .experience-list .experience-item .experience-external .experience-link {
              color: #525252;
              text-decoration: none;
              display: inline-block;
              transition: all 0.2s; }
              #experience .experience-blog .experience-grid .experience-list .experience-item .experience-external .experience-link:hover {
                color: #202020;
                text-decoration: none; }
              #experience .experience-blog .experience-grid .experience-list .experience-item .experience-external .experience-link i {
                display: inline-block;
                margin: auto;
                padding: 0;
                width: 2rem; }
              #experience .experience-blog .experience-grid .experience-list .experience-item .experience-external .experience-link:hover {
                transform: scale(1.1); }
  #experience:hover .experience-header {
    color: #3268a5;
    border-bottom-color: #56a5d9; }

/* PROJECTS STYLE */
#projects {
  background-color: #f0f0f0;
  font-family: 'Raleway', sans-serif;
  color: #828282; }
  #projects .projects-blog {
    width: 65%;
    padding: 2rem;
    margin: auto; }
    #projects .projects-blog .projects-header {
      display: inline-block;
      border-bottom: 0.05rem solid transparent;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: #202020;
      transition: color, 0.5s;
      transition: border-bottom-color, 0.75s; }
    #projects .projects-blog .projects-list {
      padding: 0;
      list-style: none; }
      #projects .projects-blog .projects-list .project-item {
        padding: 0.5rem; }
        #projects .projects-blog .projects-list .project-item .project-description {
          margin-bottom: 0.5rem;
          font-size: 1.25rem; }
          #projects .projects-blog .projects-list .project-item .project-description .project-name {
            color: #525252; }
          #projects .projects-blog .projects-list .project-item .project-description .project-funding {
            margin-bottom: 0rem;
            font-size: 1rem; }
          #projects .projects-blog .projects-list .project-item .project-description .project-date {
            margin-bottom: 0rem;
            font-size: 1rem; }
          #projects .projects-blog .projects-list .project-item .project-description .project-title {
            margin-bottom: 0rem;
            font-style: italic; }
        #projects .projects-blog .projects-list .project-item .project-external {
          text-indent: 0.5rem;
          font-size: 1rem; }
          #projects .projects-blog .projects-list .project-item .project-external .project-link {
            color: #525252;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s; }
            #projects .projects-blog .projects-list .project-item .project-external .project-link:hover {
              color: #202020;
              text-decoration: none; }
            #projects .projects-blog .projects-list .project-item .project-external .project-link i {
              display: inline-block;
              margin: auto;
              padding: 0;
              width: 2rem; }
            #projects .projects-blog .projects-list .project-item .project-external .project-link:hover {
              transform: scale(1.1); }
  #projects:hover .projects-header {
    color: #3268a5;
    border-bottom-color: #56a5d9; }

/* SKILLS STYLE */
#skills {
  background-color: #fdfdfd;
  font-family: 'Raleway', sans-serif;
  color: #828282; }
  #skills .skills-blog {
    width: 80%;
    padding: 2rem;
    margin: auto;
    text-align: center; }
    #skills .skills-blog .skills-header {
      display: inline-block;
      border-bottom: 0.05rem solid transparent;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: #202020;
      transition: color, 0.5s;
      transition: border-bottom-color, 0.75s; }
    #skills .skills-blog .skills-group {
      width: 100%;
      padding: 2rem;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: left; }
      #skills .skills-blog .skills-group .skill-grid .skill-topic {
        color: #525252; }
      #skills .skills-blog .skills-group .skill-grid .skill-list {
        list-style: circle; }
  #skills:hover .skills-header {
    color: #3268a5;
    border-bottom-color: #56a5d9; }

/* FLIPPER STRUCTURE */
.flip-box {
  background-color: transparent;
  perspective: 1000px;
  /* 3D effect */ }

.flip-box-inner {
  position: relative;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d; }

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg); }

.flip-box-front, .flip-box-back {
  position: absolute;
  backface-visibility: hidden; }

.flip-box-back {
  width: 100%;
  transform: rotateY(180deg); }

/* MODAL STRUCTURE */
.myModal {
  z-index: 1;
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2rem;
  width: 100%;
  height: 100%;
  overflow: auto; }
  .myModal .myModal-title {
    display: inline-block;
    border-bottom: 0.05rem solid transparent;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #f0f0f0;
    transition: color, 0.5s;
    transition: border-bottom-color, 0.75s;
    display: block;
    margin: 1rem auto; }
  .myModal .myModal-content {
    margin: auto;
    align-self: center;
    display: block;
    width: 80%; }
  .myModal .myClose {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #828282;
    transition: color, 0.25s; }
    .myModal .myClose:hover {
      color: #fdfdfd; }

/* TO-TOP BUTTON */
#toTop {
  z-index: 999;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 1.5rem;
  bottom: 1rem;
  transition: scale, 0.5s; }
  #toTop .toTop-btn {
    position: relative;
    align-self: baseline;
    background-color: #3268a5;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: background-color, 0.5s; }
    #toTop .toTop-btn i {
      position: absolute;
      top: 25%;
      bottom: 25%;
      right: 25%;
      left: 25%;
      color: #fdfdfd; }
  #toTop:active {
    transform: scale(0.75); }
  #toTop:hover .toTop-btn {
    background-color: #56a5d9; }

/*# sourceMappingURL=style.css.map */
