/* DEFAULTS */
* {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 20px;
  scroll-behavior: smooth; }
  @media screen and (max-width: 1536px) {
    html {
      font-size: 18px; } }
  @media screen and (max-width: 1366px) {
    html {
      font-size: 16px; }
      html #about .about-box .nav .nav-item {
        width: 50%; }
      html #team .team-box .card {
        width: 30%; } }
  @media screen and (max-width: 1080px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 12px; }
      html #about .about-box .nav .nav-item {
        width: 100%; }
      html #team .team-box .card {
        width: 45%; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 10px; } }
  @media screen and (max-width: 667px) {
    html {
      font-size: 9px; }
      html #team .team-box .card {
        width: 50%; } }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 600; }

section {
  padding: 5rem 0; }

section:first-child {
  padding: 0; }

/* HEADER SECTION */
#header {
  position: relative;
  height: 60vh;
  background: url(../img/project.png) no-repeat center center;
  background-size: cover;
  /* NAVBAR */
  /* MOTTO */ }
  #header .navbar {
    background-color: rgba(0, 0, 0, 0); }
    #header .navbar .nav-item {
      align-self: flex-end; }
      #header .navbar .nav-item .nav-link {
        margin: 0rem 1rem;
        border-bottom: 1px rgba(0, 0, 0, 0) solid;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: #f3f3f3;
        font-size: 1rem;
        transition: color, 0.35; }
        #header .navbar .nav-item .nav-link:hover {
          color: white;
          border-bottom: 1px white solid; }
      #header .navbar .nav-item .navbar-brand {
        transition: scale, 0.35s; }
        #header .navbar .nav-item .navbar-brand:hover {
          transform: scale(1.25); }
        #header .navbar .nav-item .navbar-brand .logo {
          text-align: center;
          height: 5rem; }
  #header #motto {
    position: absolute;
    left: 10%;
    bottom: 20%;
    width: 100%;
    padding: 0rem;
    color: #f3f3f3; }
    #header #motto span {
      display: block; }
    #header #motto .display-1 {
      font-size: 5rem; }
    #header #motto .display-4 {
      font-size: 2.5rem; }

/* GRID DEFAULTS */
/* ABOUT SECTION */
#about {
  text-indent: 0.5rem; }
  #about .about-head {
    color: #365599;
    letter-spacing: 0.05rem; }
  #about .about-subhead {
    color: #353535;
    font-weight: normal; }
  #about .about-box {
    width: 75%;
    padding: 2rem;
    margin: auto;
    line-height: 1.5rem;
    text-align: justify; }
  #about .funding-icon {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background-color: #365599;
    border: 0.15rem #353535 solid;
    border-radius: 50%;
    transition: background-color, 0.5s; }
    #about .funding-icon .fa {
      align-self: center;
      transform: scale(2);
      text-indent: 0;
      color: #b4b4b4;
      transition: background-color, 0.5s; }
    #about .funding-icon:hover {
      background-color: #b4b4b4; }
      #about .funding-icon:hover .fa {
        color: #365599; }
  #about .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #about .nav .nav-item {
      width: 25%; }
    #about .nav .nav-link {
      text-align: center;
      transition: scale, 0.25s; }
      #about .nav .nav-link:hover {
        transform: scale(1.25); }
      #about .nav .nav-link img {
        display: inline-block;
        height: 5rem; }

/* TEAM MEMBERS SECTION */
#team {
  background: url(../img/software.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: hard-light; }
  #team .team-head {
    color: #f3f3f3;
    letter-spacing: 0.05rem; }
  #team .team-box {
    width: 85%;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #team .team-box .card {
      display: inline-block;
      margin: 1.25rem 0.75rem;
      width: 20%;
      border-radius: 0;
      border: none;
      background-color: #353535;
      transition: background-color, 0.1s; }
      #team .team-box .card .card-body {
        padding: 1rem 0; }
        #team .team-box .card .card-body .card-title {
          margin: 0;
          color: #f3f3f3; }
        #team .team-box .card .card-body .btn {
          position: absolute;
          top: 15%;
          left: 0;
          border-radius: 0; }
      #team .team-box .card:hover {
        background-color: #b4b4b4; }
        #team .team-box .card:hover .card-title {
          color: #353535; }

/* PUBLICATIONS SECTION */
#publications .publications-head {
  color: #365599;
  letter-spacing: 0.05rem; }
#publications .publications-box {
  width: 95%;
  padding: 2rem;
  margin: auto; }
  #publications .publications-box .pub-list {
    list-style: square; }

/* ACTIVITIES SECTION */
#activities {
  background: url(../img/software.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: soft-light; }
  #activities .activities-head {
    color: #f3f3f3;
    letter-spacing: 0.05rem; }
  #activities .activities-grid {
    width: 90%;
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem; }
    #activities .activities-grid .activities-card {
      margin: 1rem;
      width: calc(50% - 4rem);
      transition: opacity, 0.1s; }
      #activities .activities-grid .activities-card .activities-blog {
        background-color: rgba(255, 255, 255, 0.1);
        margin: 0rem;
        padding: 2rem;
        border-radius: 0.1rem; }
      #activities .activities-grid .activities-card .activities-img {
        height: 7.5rem;
        border-radius: 50%; }
      #activities .activities-grid .activities-card:hover {
        opacity: 0.8; }

/*# sourceMappingURL=style.css.map */
