/* DEFAULTS */
$color-black: #202020;
$color-white: #fdfdfd;

$color-lightgrey: #dcdcdc;
$color-grey: #bababa;
$color-darkgrey: #393939;

$color-lightblue: #56a5d9;
$color-blue: #3268a5;
$color-darkblue: #265599;

$color-fency: rgb(0, 189, 91);
$font-fency: 'ArialRoundedMTBold', 'Arial Rounded MT Bold', 'Arial', sans-serif;

$color-rucon1: -webkit-linear-gradient(left, #298676, #0397DC);
$color-rucon2: -o-linear-gradient(left, #298676, #0397DC);
$color-rucon3: linear-gradient(to right, #298676, #0397DC);

