/* DEFAULT VARIABLES */

$color-black: #202020;
$color-white: #fdfdfd;

/* GREY */
$color-lightgrey: #f0f0f0;
$color-grey: #828282;
$color-darkgrey: #525252;

/* BLUE */
$color-lightblue: #56a5d9;
$color-blue: #3268a5;
$color-darkblue: #163579;

/* RED */
$color-lightred: #d94655;
$color-red: #a53832;
$color-darkred: #791012;

/* GREEN */
$color-lightgreen: #78ca7d;
$color-green: #379f57;
$color-darkgreen: #276a32;

/* PURPLE */
$color-lightpurple: #b949d9;
$color-purple: #7929b9;
$color-darkpurple: #391979;

/* YELLOW */
$color-lightyellow: #f2d355;
$color-yellow: #bfa536;
$color-darkyellow: #737224;

/* ORANGE */
$color-lightorange: #fcaa44;
$color-orange: #cd7f23;
$color-darkorange: #a26912;

/* BROWN */
$color-lightbrown: #6c4a34;
$color-brown: #5c3a24;
$color-darkbrown: #4c2a14;

/* CYPRUS */
$color-cyprus: #0f4645;


/* FONT SIZES*/
$font-xsmall: 0.5rem;
$font-small: 0.75rem;
$font-midsmall: 1rem;
$font-medium: 1.25rem;
$font-large: 1.5rem;
$font-xlarge: 1.75rem;
$font-xxlarge: 2rem;
