/* DEFAULT VARIABLES */

$color-black: #202020;
$color-white: #fdfdf6;

/* GREY */
$color-lightgrey: #dcdcdc;
$color-grey: #bababa;
$color-darkgrey: #393939;

/* BLUE */
$color-lightblue: #56a5d9;
$color-blue: #3268a5;
$color-darkblue: #265599;

/* RED */
$color-lightred: #d93645;
$color-red: #a53832;
$color-darkred: #992022;

/* PURPLE */
$color-lightpurple: #b949d9;
$color-purple: #7929b9;
$color-darkpurple: #391979;

/* YELLOW */
$color-lightyellow: #dccc48;
$color-yellow: #cfbf28;
$color-darkyellow: #938214;

/* FONT SIZES*/
$font-xsmall: 0.5rem;
$font-small: 0.75rem;
$font-medium: 1.25rem;
$font-large: 1.5rem;
$font-xlarge: 1.75rem;
$font-xxlarge: 2rem;
