@mixin box($width) {
    width: $width;
    padding: 2rem;
    margin: auto;
}

@mixin link($base-color, $hover-color) {
    color: $base-color;
    text-decoration: none;
    
    &:hover {
        color: $hover-color;
        text-decoration: none;
    }
}

@mixin sectionheader($color) {
    display: inline-block;
    border-bottom: 0.05rem solid transparent;
    
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: $color;
            
    transition: color, 0.5s;
    transition: border-bottom-color, 0.75s;
}
