/* ABOUT STYLE */

#about {
    background-color: $color-darkgrey;

    font-family: 'Raleway', sans-serif;
    color: $color-grey;

    .about-blog {
        @include box(50%);
        
        .about-header {
            display: inline-block;
            
            border-bottom: 0.05rem solid transparent;
            text-transform: uppercase;
            text-align: left;
            
            transition: color, border-bottom, 0.2s;
        }
        
        .about-text {
            text-align: justify;
            text-indent: 1rem;
            font-size: $font-medium;
            
            .about-link {
                @include link($color-grey, $color-lightblue);
                
                font-style: italic;
                color: $color-grey;
                transition: color, 0.2s;
            }
            
        }
    }
    
    &:hover {
        .about-header {
            color: $color-blue;
            border-bottom-color: $color-lightblue;
        }
    }
}