/* ABOUT SECTION */
#about {
    background-color: $color-white;
    text-indent: 0.5rem;
    
    .about-head {
        @include section-head($color-darkgrey);
    }
    
    .about-subhead {
        margin-bottom: 1rem;
        text-transform: capitalize;
        text-align: left;
        text-indent: 0rem;
        color: $color-darkblue;
        font-weight: normal;
    }
    
    .about-box {
        @include box(90%);
    }
    
    /* ABOUT */
    .about-blog {
        @include box(80%);
        
        padding-top: 0rem;
        margin-bottom: 1rem;
        
        color: $color-grey;
        text-align: justify;
        font-weight: 300;
        line-height: 1.5rem;
    }
    
    .about-media {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        .about-img {
            flex: 50%;
            text-align: center;
            
            img {
                width: 90%;
                box-shadow: 0.125rem 0.25rem 0.75rem rgba(80,80,80,0.5);
            }
        }
        
        iframe {
            flex: 50%;
            width: 90%;
            
            box-shadow: 0.125rem 0.25rem 0.75rem rgba(80,80,80,0.5);
        }
    } 
}