/* DELIVERABLES SECTION */
#deliverables {
    background: url(../img/deliverables-bg.jpg) no-repeat center center;
    background-color: rgba(darken($color-black, 25%), 0.8);
    background-size: cover;
    background-blend-mode: overlay;

    .deliverables-head {
        @include section-head($color-white);
    }
    
    .deliverables-box {
        @include box(95%);
        background-color: rgba(darken($color-black, 25%), 0.5);
        
        .deliverables-list {
            list-style: square;
            
            color: $color-grey;
            
            .deliverables-item {
                margin-top: 2rem;
                margin-bottom: 2rem;
                
                &:first-of-type {
                    margin-top: 0rem;
                }
                
                &:last-of-type {
                    margin-bottom: 0rem;
                }
            }
        }
    }
}