/* EDUCATION STYLE */

#education {
    background-color: $color-lightgrey;
    
    font-family: 'Raleway', sans-serif;
    color: $color-grey;
    
    .education-blog {
        @include box(65%);
        text-align: center;
        
        .education-header {
            @include sectionheader($color-black);
        }
        
        .education-grid {

            .education-list {
                padding: 0;
                list-style: none;
                
                .education-item {
                    margin-bottom: 1.5rem;
                    padding: 0.5rem;
                    
                    .education-school {
                        margin-bottom: 0rem;
                        font-size: $font-medium;
                        
                        .education-school-name {
                            color: $color-darkgrey;
                        }
                        
                        .education-school-title {
                            margin-bottom: 0rem;
                            font-style: italic;
                        }
                    }
                    
                    .education-description {
                        list-style: none;
                        padding: 0;
                        font-size: $font-midsmall;
                    }
                }
            }
        }
    }
    
    &:hover {
        .education-header {
            color: $color-blue;
            border-bottom-color: $color-lightblue;
        }
    }
}
