/* EDUCATION STYLE */

#education {
    background-color: $color-darkgrey;
    
    font-family: 'Raleway', sans-serif;
    color: $color-grey;
    
    .education-blog {
        @include box(65%);
        text-align: right;
        
        .education-header {
            display: inline-block;
            
            border-bottom: 0.05rem solid transparent;
            text-transform: uppercase;
            text-align: left;
            
            transition: color, border-bottom, 0.2s;
        }
        
        .education-grid {

            .education-list {
                padding: 0;
                list-style: none;
                
                .education-item {
                    padding: 0.5rem;
                    
                    .education-school {
                        margin-bottom: 0rem;
                        font-size: $font-medium;
                        
                        .education-school-name {
                            color: $color-lightgrey;
                        }
                        
                        .education-school-title {
                            margin-bottom: 0rem;
                            color: $color-grey;
                        }
                    }
                    
                    .education-description {
                        list-style: none;
                        
                        .education-link {
                            font-style: italic;
                            @include link($color-grey, $color-lightred);
                        }
                    }
                }
            }
        }
    }
    
    &:hover {
        .education-header {
            color: $color-blue;
            border-bottom-color: $color-lightblue;
        }
    }
}