/* EXPERIENCE STYLE */

#experience {
    background-color: $color-black;
    
    text-align: center;
    color: $color-grey;
    
    .experience-blog {
        @include box(75%);
        
        .experience-header {
            display: inline-block;
            
            border-bottom: 0.05rem solid transparent;
            text-transform: uppercase;
            text-align: left;
            
            transition: color, border-bottom, 0.2s;
        }
        
        .experience-text {
            text-align: justify;
            text-indent: 1rem;
            font-size: $font-medium;
        }
    }
    
    &:hover {
        .experience-header {
            color: $color-blue;
            border-bottom-color: $color-lightblue;
        }
    }
}