/* FOOTER SECTION */
#footer {
    padding: 2rem;
    padding-bottom: 1rem;
    background-color: $color-black;
    
    .footer-head {
        @include section-head($color-white);
    }
    
    .footer-box {
        @include box(90%);
        
        display: flex;
        // justify-content: center;
        flex-wrap: nowrap;
        
        padding: 0rem;
        margin-bottom: 1.5rem;
        
        &:last-of-type {
            margin-bottom: 0rem;
        }
        
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            
            list-style: none;
        }
    }
    
    /* Top Part */
    .top-part {
        justify-content: flex-start;
        align-content: stretch;
        
        /* Copyright */
        .copyright-box {
            flex: 15%;
            
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            padding-left: 2rem;
            
            text-align: left;
            color: $color-lightgrey;
            
            .copyright-head {
                text-align: left;
                color: $color-lightblue;
                
                .copyright-logo {
                    display: inline-block;
                    height: 2rem;
                    margin-right: 0.5rem;
                }
            }
        }
        
        /* Locations */
        .location-box {
            flex: 85%;
            
            .location-multilist {
                display: flex;
                justify-content: space-around;
                flex-wrap: nowrap;

                .location-list {
                    display: block;

                    .location-item {
                        margin-bottom: 0.25rem;

                        .location-link {
                            @include link($color-grey, $color-white);
                            transition: color, 0.2s;
                        }
                    }
                }
            }
        }
    }
    
    /* Bottom Part */
    .bottom-part {
        justify-content: space-between;
        
        /* Quicklinks */
        .quicklinks-box {
            // flex: 50%;
            align-self: center;

            .quicklinks-list {
                
                .quicklinks-item {
                    margin-right: 2rem;
                    
                    &:last-of-type {
                        margin-right: 0rem;
                    }
                    
                    .quicklinks-link {
                        @include link($color-blue, $color-lightblue);
                        transition: color, 0.2s;
                    }
                }
            }
        }
        
        .contacts-box {
            // flex: 50%;
            align-self: baseline;

            .contacts-list {
                
                .contacts-item {
                    margin-right: 2rem;
                    
                    // font-size: 0.75rem;
                    // text-align: center;
                    // color: $color-blue;
                    
                    &:last-of-type {
                        margin-right: 0rem;
                    }
                    
                    .contacts-link {
                        @include link($color-blue, $color-lightblue);
                        display: block;
                        
                        transition: color, 0.2s;
                        
                        i {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}