/* FUNDING */
#funding {
    background-color: $color-white;
    
    .funding-head {
        @include section-head($color-darkblue);
    }
    
    .funding-box {
        @include box(90%);
        
        /* INFO */
        .funding-info {
            @include box(80%);
            
            background-color: rgba($color-lightgrey, 0.3);
            border-radius: 0.1rem;
            box-shadow: 0.05rem 0.1rem 0.75rem rgba(0,0,0,0.3);
            
            p {
                margin-bottom: 0;
                font-weight: 300;
                
                span {
                    color: $color-darkblue;
                    font-weight: normal;
                }
                
                i {
                    width: 2rem;
                    margin-right: 0.5rem;
                }
            }
        }
        
        /* FUNDERS */
        .nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            .nav-item {
                padding: 1rem;
                width: 20%;
            }
    
            .nav-link {
                text-align: center;
    
                transition: scale, 0.25s;
    
                &:hover {
                    transform: scale(1.25);
                }
    
                img {
                    display: inline-block;
                    // height: 5rem; determined one by one
                }
            }
        }
    }
}