/* GRID DEFAULTS */

/* ABOUT SECTION */
#about {
    text-indent: 0.5rem;
    
    .about-head {
        @include section-head($color-darkblue);
    }
    
    .about-subhead {
        color: $color-black;
        font-weight: normal;
    }
    
    .about-box {
        @include box(75%);
        
        line-height: 1.5rem;
        text-align: justify;
    }
    
    .funding-icon {
        display: flex;
        margin: auto;
        justify-content: center;
        
        height: 5rem;
        width: 5rem;
        background-color: $color-darkblue;
        border: 0.15rem $color-black solid;
        border-radius: 50%;
        
        transition: background-color, 0.5s;
        
        .fa {
            align-self: center;
            transform: scale(2);
            
            text-indent: 0;
            color: $color-grey;

            transition: background-color, 0.5s;
        }
        
        &:hover {
            background-color: $color-grey;
            
            .fa {
                color: $color-darkblue; 
            }
        }
        
    }
    
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .nav-item {
            width: 25%;
        }

        .nav-link {
            text-align: center;

            transition: scale, 0.25s;

            &:hover {
                transform: scale(1.25);
            }

            img {
                display: inline-block;
                height: 5rem;
            }
        }
    }
}

/* TEAM MEMBERS SECTION */
#team {
    background: url(../img/software.jpg) no-repeat center center;
    background-size: cover;
    background-blend-mode: hard-light;

    .team-head {
        @include section-head($color-white);
    }
    
    .team-box {
        @include box(85%);
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .card {
            display: inline-block;
            margin: 1.25rem 0.75rem;
            width: 20%;
            
            border-radius: 0;
            border: none;
            background-color: $color-black;
            
            transition: background-color, 0.1s;
            
            .card-body {
                padding: 1rem 0;
                
                .card-title {
                    margin: 0;
                    color: $color-white;
                }
                
                .btn {
                    position: absolute;
                    top: 15%;
                    left: 0;
                    border-radius: 0;
                }
            }
            
            &:hover {
                background-color: $color-grey;
                
                .card-title {
                    color: $color-black;
                }
            }
        }
    }
}

/* PUBLICATIONS SECTION */
#publications {
    
    .publications-head {
        @include section-head($color-darkblue);
    }
    
    .publications-box {
        @include box(95%);
        
        .pub-list {
            list-style: square;
        }
    }
}

/* ACTIVITIES SECTION */
#activities {
    background: url(../img/software.jpg) no-repeat center center;
    background-size: cover;
    background-blend-mode: soft-light;
    
    .activities-head {
        @include section-head($color-white);
    }
    
    .activities-grid {
        @include box(90%);
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        text-align: center;
        line-height: 2rem;
        font-size: 1.2rem;
        
        .activities-card {
            margin: 1rem;
            width: calc(50% - 4rem);
            
            transition: opacity, 0.1s;
        
            .activities-blog {
                background-color: rgba(255, 255, 255, 0.1);
                margin: 0rem;
                padding: 2rem;
                border-radius: 0.1rem;
            }

            .activities-img {
                height: 7.5rem;
                border-radius: 50%;
            }
            
            &:hover {
                opacity: 0.8;
            }
        }
    }
    
}
