/* HEADER STYLE */

#header {
    display: flex;
    flex-direction: column;
    
    background-color: $color-lightgrey;
    height: 100vh;
    
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: $color-darkgrey;
    
    .header-text {
        @include box(50%);
        
        p {
            font-size: $font-large;
            margin: 0.5rem 0;
            
            &:first-of-type {
                font-size: $font-xxlarge;
            }
        }
    }
    
    .header-list {
        @include box(50%);
        
        .header-links {
            display: flex;
            justify-content: center;
            
            list-style: none;
            
            .header-link {
                padding: 0 1rem;
                
                i {
                    font-size: $font-xxlarge;
                    transition: scale, 0.2s;
                }
                
                &:hover {
                    i {
                        transform: scale(1.1);
                    }
                }
            }
            
            #link1 {@include link($color-darkgrey, $color-blue);}
            #link2 {@include link($color-darkgrey, $color-purple);}
            #link3 {@include link($color-darkgrey, $color-lightblue);}
        }
    }
}