/* HEADER STYLE */

#header {
    display: flex;
    flex-direction: column;
    
    background-color: $color-black;
    height: 100vh;
    
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color-white;
    
    .header-text {
        @include box(50%);
        
        p {
            font-size: $font-xlarge;
            margin: 0.5rem 0;
            
            &:first-of-type {
                font-size: $font-xxlarge;
            }
            
            &:last-of-type a {
                @include link($color-white, $color-yellow);
                
                transition: color, 0.25s;
            }
        }
    }
    
    .header-list {
        @include box(50%);
        
        .header-links {
            display: flex;
            justify-content: center;
            
            list-style: none;
            
            .header-link {
                padding: 0 1rem;
                
                i {
                    font-size: $font-xxlarge;
                    transition: scale, 0.1s;
                }
                
                &:hover {
                    i {
                        transform: scale(1.2);
                    }
                }
            }
            
            #link1 {@include link($color-white, $color-blue);}
            #link2 {@include link($color-white, $color-lightpurple);}
            #link3 {@include link($color-white, $color-lightblue);}
        }
    }
}