/* IN MEDIA SECTION */
#inmedia {
    background-color: $color-darkgrey;
    
    .inmedia-head {
        @include section-head($color-white);
    }
    
    .inmedia-box {
        @include box(75%);
        
        .inmedia-articles {
            
            .article-list {
                list-style: square;
                color: $color-lightgrey;
                
                .article-item {
                    margin-bottom: 1rem;
                    
                    .article-link {
                        text-decoration: none;
                        color: $color-lightblue;
                        transition: color, 0.1s;
                        
                        &:hover {
                            color: $color-blue;
                        }
                    }
                }
            }
        }
        
        .inmedia-socialmedia {
            display: flex;
            flex-wrap: wrap;
            
            .socialmedia-item {
                flex: 50%;
                padding: 1rem;
                text-align: center;
                
                .socialmedia-object {
                    height: 13.5rem;
                    width: 24rem;
                    
                    box-shadow: 0.125rem 0.25rem 0.75rem rgba(80,80,80,0.5);
                }
                
                .socialmedia-title {
                    display: block;
                    margin-top: 0.5rem;
                    color: $color-lightblue;
                }
            }
        }
    }
}