/* NAVBAR STYLE */

#navbar {
    position: fixed;
    
    display: flex;
    justify-content: center;

    background-color: $color-cyprus;
    font-family: 'Raleway', sans-serif;
    font-size: $font-medium;
    
    .navbar {
        padding: 0rem;
        
        .nav-item {
            text-align: center;
            width: 10rem;
            
            .nav-link {
                @include link($color-white, $color-cyprus);
                
                padding: 1rem;
                text-transform: capitalize;
                transition: all, 0.25s;
                
                &:hover {
                    background-color: $color-lightgrey;
                }
            }
        }
    }
}
