/* PARTICIPANTS SECTION */
#participants {
    
    .participants-head {
        @include section-head($color-white);
    }
    
    .participants-box {
        @include box(80%);
        
        /* Participant List */
        .participant-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style: none;
            
            .participant-item {
                flex: 30%;
                align-self: baseline;
                
                margin: 1rem;
                text-align: center;
                
                .participant-link {
                    
                    img {
                        // height: 4rem; determined one by one
                    }
                }
                
                .participant-title {
                    display: block;
                    padding-top: 1rem;
                    
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $color-grey;
                    
                    transition: color, 0.75s;
                }
                
                .participant-overlay {
                    width: 100%;
                    padding-top: 0.5rem;
                    padding-bottom: 1rem;
                    margin: auto;
                    
                    color: transparent;
                    
                    transition: width, color, 0.75s;
                    
                    .researcher-list {
                        list-style: none;
                        text-align: left;
                    }
                }
                
                &:hover {
                    
                    .participant-title {
                        color: $color-white;
                        text-decoration: none;
                    }
                    
                    .participant-overlay {
                        width: 90%;
                        color: $color-white;
                    }
                }
            }
        }
    }
}