/* PROJECTS STYLE */

#projects {
    background-color: $color-white;
    
    font-family: 'Raleway', sans-serif;
    color: $color-grey;
    
    .projects-blog {
        @include box(65%);
        
        .projects-header {
            @include sectionheader($color-black);
        }

        .projects-list {
            padding: 0;
            list-style: none;
            
            .project-item {
                padding: 0.5rem;
                
                .project-description {
                    margin-bottom: 0.5rem;
                    font-size: $font-medium;
                    
                    .project-name {
                        color: $color-darkgrey;
                    }
                    
                    .project-funding {
                        margin-bottom: 0rem;
                        font-size: $font-midsmall;
                    }
                    
                    .project-date {
                        margin-bottom: 0rem;
                        font-size: $font-midsmall;
                    }
                    
                    .project-title {
                        margin-bottom: 0rem;
                        font-style: italic;
                    }
                }
                
                .project-external {
                        text-indent: 0.5rem;
                        font-size: $font-midsmall;
                        
                        .project-link {
                            @include link($color-darkgrey, $color-black);
                            display: inline-block;
                            
                            i {
                                display: inline-block;
                                margin: auto;
                                padding: 0;
                                width: 2rem;
                            }
                            
                            &:hover {
                                transform: scale(1.1);
                            }
                            
                            transition: all 0.2s;
                        }
                    }
            }
        }
    }
    
    &:hover {
        .projects-header {
            color: $color-blue;
            border-bottom-color: $color-lightblue;
        }
    }
}
