/* PROJECTS SECTION */
#projects {
    background-color: $color-black;
    
    .projects-head {
        @include section-head($color-white);
    }
    
    .projects-grid {
        @include box(95%);
        
        display: flex;
        flex-wrap: wrap;
        
        overflow-y: visible;
        
        .project-card {
            width: 17.5%;
            
            margin-right: 5rem;
            margin-left: 5rem;
            margin-bottom: 15rem;
            
            .project-img {
                padding-top: 25%;
                padding-bottom: 25%;
                
                text-align: center;
                width: 100%;
                
                img {
                    width: 100%;
                }
                
                span {
                    cursor: default;
                    font-family: $font-fency;
                    color: $color-fency;
                    font-size: 3rem;
                }
            }
            
            .project-description {
                padding: 1rem;
                
                background-color: transparent;
                color: $color-grey;
                text-align: center;
                
                .project-title {
                    @include section-head($color-lightgrey);
                }
                
                p {
                    text-align: left;
                }
                
                .project-link {
                    @include link($color-lightgrey, $color-lightblue);
                    
                    padding: 0.25rem;
                    border-radius: 0.2rem;
                    
                    transition: color, 0.25s;
                }
            }
        }
        
    }
}