/* EXPERIENCE STYLE */

#publications {
    background-color: $color-lightgrey;
    
    font-family: 'Raleway', sans-serif;
    font-size: $font-medium;
    color: $color-grey;
    
    .publications-blog {
        @include box(65%);
        text-align: center;
        
        .publications-header {
            @include sectionheader($color-black);
        }
        
        .publications-grid {
            width: 100%;
            text-align: left;

            .publications-list {
                padding: 1rem;
                list-style: square;
                
                .publications-item {
                    margin-bottom: 1.5rem;
                    padding: 0.5rem;
                }
            }
        }
    }
    
    &:hover {
        .publications-header {
            color: $color-blue;
            border-bottom-color: $color-lightblue;
        }
    }
}
