/* PUBLICATIONS SECTION */
#publications {
    background-color: $color-darkgrey;
    
    .publications-head {
        @include section-head($color-white);
    }
    
    .publications-box {
        @include box(95%);
        
        .pub-list {
            list-style: square;
            
            color: $color-lightgrey;
        }
    }
}