#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        font-family: 'Squada One', sans-serif;
        
        p {
            color: $color-palette-solid;
        }
    }
}