/* MODAL STRUCTURE */

.myModal {
    z-index: 1;
    display: none;
    flex-direction: column;
    
    position: fixed;
    left: 0;
    top: 0;
    
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    
    width: 100%;
    height: 100%;
    overflow: auto;
    
    .myModal-title {
        @include section-head($color-lightgrey);
        
        display: block;
        margin: 1rem auto;
    }
    
    .myModal-content {
        margin: auto;
        align-self: center;
        display: block;
        width: 80%;
    }
    
    .myClose {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 3rem;
        
        font-size: 2.5rem;
        font-weight: bold;
        color: $color-grey;
        
        transition: color, 0.25s;
        
        &:hover {
            color: $color-white;
        }
    }
}