@import 'base/constants';
@import 'base/base';

@import 'assets/mixin';

@import 'layout/navbar';
@import 'layout/header';
@import 'layout/about';
@import 'layout/education';
@import 'layout/experience';
@import 'layout/publications';
@import 'layout/projects';
@import 'layout/skills';
@import 'layout/other';