* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
    
    @media screen and (max-width: 1536px) {
        font-size: 18px;
    }
    
    @media screen and (max-width: 1366px) {
        font-size: 16px;
        
        #header .title {
            
            .title-first {
                font-size: 3.5rem;
            }
            
            .title-second {
                font-size: 2.5rem;
            }
        }
        
        #funding .funding-box .nav .nav-item {
            width: 33%;
        }
    }
    
    @media screen and (max-width: 1080px) {
        font-size: 14px;
        
        #funding .funding-box .nav .nav-item {
            width: 50%;
        }
        
        #projects .projects-grid .project-card .project-description p {
            display: none;
        }
    }
    
    @media screen and (max-width: 900px) {
        font-size: 12px;
        
        #header .title {
            
            .title-first {
                font-size: 3rem;
            }
            
            .title-second {
                font-size: 2rem;
            }
        }
        
        #about .about-box .about-media iframe {
            display: none;
        }
    }
    
    @media screen and (max-width: 768px) {
        font-size: 10px;
        
        #funding .funding-box .nav .nav-item {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 667px) {
        font-size: 9px;
        
    }
}

body {
    background-color: $color-white;
    overflow-x: hidden;
}

section {
    padding: 4rem 0;
}

section:first-child {
    width: 100%;
    padding: 0;
}

#common-bg {
    background: url(../img/common-bg.jpg) no-repeat center center, linear-gradient(to bottom, lighten($color-darkgrey, 10) 0%, darken($color-lightgrey, 20) 100%);
    background-size: cover;
    background-blend-mode: soft-light;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 600;
}
