* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    @media screen and (max-width: 1650px) {
        font-size: 16px;
    }
    
    @media screen and (max-width: 1450px) {
        font-size: 15px;
        
        #header .title {
            
            .title-first {
                font-size: 3.5rem;
            }
            
            .title-second {
                font-size: 2.5rem;
            }
        }
        
        #funding .funding-box .nav .nav-item {
            width: 33%;
        }
        
        .myModal .myModal-title {
            display: none;
        }
    }
    
    @media screen and (max-width: 1080px) {
        font-size: 12px;
        
        #funding .funding-box .nav .nav-item {
            width: 50%;
        }
        
        #projects .projects-grid .project-card .project-description p {
            display: none;
        }
    }
    
    @media screen and (max-width: 900px) {
        font-size: 10px;
        
        #header .title {
            
            .title-first {
                font-size: 3rem;
            }
            
            .title-second {
                font-size: 2rem;
            }
        }
        
        #about .about-box .about-media iframe {
            display: none;
        }
    }
    
    @media screen and (max-width: 768px) {
        font-size: 8px;
        
        #funding .funding-box .nav .nav-item {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 667px) {
        font-size: 7px;
    }
}

body {
    background-color: $color-white;
}

section {
    padding: 4rem 0;
}

section:first-child {
    width: 100%;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 600;
}

/* COMMON BACKGROUND IMAGE FOR PARTICIPANT AND FUNDING SECTION */
#common-bg {
    background: url(../img/common-bg.jpg) no-repeat center center, linear-gradient(to bottom, darken($color-white, 20) 0%, darken($color-white, 2.5) 85%);
    background-size: cover;
    background-blend-mode: overlay;
}

/* TO-TOP BUTTON */
#toTop {
    z-index: 999;
    display: flex;
    justify-content: center;
        
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
        
    transition: scale, 0.5s;
        
    .toTop-btn {
        position: relative;
        align-self: baseline;
        background-color: $color-blue;
            
        text-align: center;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        
        transition: background-color, 0.5s;
        
        i {
            position: absolute;
            top: 25%;
            bottom: 25%;
            right: 25%;
            left: 25%;
            color: $color-white;
        }
    }
        
    &:active {
        transform: scale(0.75);
    }
        
    &:hover {
        .toTop-btn {
            background-color: $color-lightblue;
        }
    }
}
